---
title: Bumblebee Suration
description: "Hello, i have a business. It called BFC ( new era calls : Prime Chicken ). Don't forget to buy chicken because it's cheap and has a juicy meat"
economyStatus: Medium
occupation: Businessman
---
