---
layout: layouts/base.njk
---

<main>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  <p>Live in private house: <strong>{{ privateHouse }}</strong></p>
  <p>Economy status: <strong>{{ economyStatus }}</strong></p>
</main>
