*,
*::after,
*::before {
  color: inherit;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #ddd;
}

li + li {
  margin-top: 0.5em;
}

[href] {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em;
}
